.advan {
	margin-top: 10rem;

	@media screen and (min-width: 1200px) {
		margin-top: 20rem;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media screen and (min-width: 768px) {
			flex-direction: row;	
		}

		&:nth-of-type(2n) {
			@media screen and (min-width: 768px) {
				flex-direction: row-reverse;
			}

			& > p {
				@media screen and (min-width: 1200px) {
					margin-left: 0;
					margin-right: 4rem;
				}
			}
		}

		&:nth-of-type(2n-1) {
			div {
				@media screen and (min-width: 1200px) {
					background-color: #161616;
				}
			}
		}

		&:not(:first-of-type) {
			margin-top: 3rem;
		}
	}

	&_percent {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;

		border-radius: 50%;
		width: 5rem;
		height: 5rem;

		background-color: #000;

		@media screen and (min-width: 768px) {
			width: 7rem;
			height: 7rem;
		}

		@media screen and (min-width: 1200px) {
			width: 15rem;
			height: 15rem;
		}

		&::before {
			content: '';
			position: absolute;
			top: -.2rem;
			bottom: -.2rem;
			left: -.2rem;
			right: -.2rem;
			display: block;
			z-index: -2;

			border-radius: 50%;

		    background: linear-gradient(to bottom, $wv-purple 0%, $wv-blue 80%, $wv-green 100%);
		}

		p {
			display: flex;
			align-items: flex-start;
			
			background: -webkit-linear-gradient(to bottom, $wv-purple 0%, $wv-blue 80%, $wv-green 100%);
			background: -o-linear-gradient(to bottom, $wv-purple 0%, $wv-blue 80%, $wv-green 100%);
			background: linear-gradient(to bottom, $wv-purple 0%, $wv-blue 80%, $wv-green 100%);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			color: $white;
		
			@include f-reg(1.8rem);
		
			@media screen and (min-width: 768px) {
				font-size: 2.4rem;
			}
		
			@media screen and (min-width: 1200px) {
				font-size: 3.5rem;
			}
		}

		span {
			margin-top: .15rem;

			@include f-reg(1rem);
			font-weight: bold;

			@media screen and (min-width: 768px) {
				font-size: 1.4rem;
			}

			@media screen and (min-width: 1200px) {
				font-size: 2rem;
			}
		}
	}

	&_text {
		margin-top: 2rem;
		padding: {
			right: 5%;
			left: 5%;
		}
		max-width: 25rem;

		@include f-reg(1rem);
		text-align: center;

		@media screen and (min-width: 768px) {
			margin-top: 0;

			text-align: left;
			font-size: 1.3rem;
		}

		@media screen and (min-width: 1200px) {
			margin-left: 3rem;
			line-height: 1.7;
		}
	}
}