.contacts {
	margin-top: 10rem;
	padding: {
		right: 5%;
		left: 5%;
	}

	&__list {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media screen and (min-width: 768px) {
			flex-direction: row;
			justify-content: center;
		}
	}

	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;


		&:not(:first-of-type) {
			margin-top: 2rem;

			@media screen and (min-width: 768px) {
				margin-top: 0;
				margin-left: 10rem;
			}
		}
	}

	&_img {
		overflow: hidden;

		border: .3rem solid #7070BA;
		border-radius: 50%;
		width: 12rem;
		height: 12rem;

		@media screen and (min-width: 1200px) {
			width: 17rem;
			height: 17rem;
		}

		a {
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
		}

		img {
			width: 100%;
			height: 100%;
		}
	}

	&_name {
		margin-top: 1rem;

		@include f-med(1.5rem);

		@media screen and (min-width: 1200px) {
			font-size: 1.8rem;
		}
	}

	&_phone {
		display: inline-flex;
		justify-content: center;
		align-items: center;

		margin-top: 1rem;

		@include btn(13rem, 3rem, 1.2rem);

		text-decoration: none;

		@media screen and (min-width: 1200px) {
			width: 16rem;
			font-size: 1.5rem;
		}
	}
}

.social {
	&__list {
		display: flex;
		justify-content: center;
		align-items: center;

		margin-top: 2rem;
		width: 100%;
	}
	
	&_item {
		&:not(:first-of-type) {
			margin-left: 1rem;

			@media screen and (min-width: 1200px) {
				margin-left: 3rem;
			}
		}

		a {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			border-radius: 50%;
			padding: 1rem;
			width: 4rem;
			height: 4rem;

			background-color: #151515;

			&::before {
				content: '';
				position: absolute;
				top: -.2rem;
				bottom: -.2rem;
				left: -.2rem;
				right: -.2rem;
				display: block;
				z-index: -2;

				border-radius: 50%;

			    background: linear-gradient(to bottom, $wv-purple 0%, $wv-blue 80%, $wv-green 100%);
			}
		}

		svg {
			width: 100%;
			height: 100%;
			fill: url(#gradient);
			cursor: pointer;
		}
	}
}