.desc {
	margin-top: 15rem;
	padding: {
		left: 10%;
		right: 10%;
	}

	&__wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		border: .7rem solid transparent;
		padding: 5%;

		@media screen and (min-width: 768px) {
			border-image: linear-gradient(to bottom right, rgba(186, 0, 255, .6) 0%, rgba(0, 196, 255, .6) 80%, rgba(0, 255, 196, .6) 100%);
			border-image-slice: 1;
		}

		&::after {
			@media screen and (min-width: 768px) {
				content: '';
				position: absolute;
				display: block;
				transform: translate(1.5%, -4%) scale(1.015, 1.05);
				
				border: .7rem solid transparent;
				width: 100%;
				height: 100%;

				border-image: linear-gradient(to bottom right, rgba(186, 0, 255, .3) 0%, rgba(0, 196, 255, .3) 80%, rgba(0, 255, 196, .3) 100%);
				border-image-slice: 1;
			}
		}

		&::before {
			@media screen and (min-width: 768px) {
				content: '';
				position: absolute;
				display: inline-block;
				transform: translate(-1.5%, 4%) scale(1.015, 1.05);
				// transform: t;
				
				border: .7rem solid transparent;
				width: 100%;
				height: 100%;

				border-image: linear-gradient(to bottom right, rgb(186, 0, 255) 0%, rgb(0, 196, 255) 80%, rgb(0, 255, 196) 100%);
				border-image-slice: 1;
			}
		}
	}

	&__header {
		display: none;
		
		@include f-reg(2rem);
		text-align: center;
		@media screen and (min-width: 768px) {
			display: block;
		}
	}

	&__article {
		display: flex;
		flex-direction: column;
		align-items: center;

		@media screen and (min-width: 768px) {
			flex-direction: row-reverse;
			align-items: flex-start;
			margin-top: 4rem;	
		}
	}

	&_video {
		display: inline-block;

		border: .1rem solid $white;
		width: 15rem;
		height: 10rem;

		@media screen and (min-width: 768px) {
			width: 25rem;
			height: 12rem;
		}

		@media screen and (min-width: 1200px) {
			width: 30rem;
			height: 15rem;
		}
	}

	&_text {
		margin-top: 2rem;
		max-width: 25rem;

		@include f-reg(1rem);
		text-align: center;

		@media screen and (min-width: 768px) {
			margin-top: 0;
			margin-right: 2rem;
			text-align: left;
		}

		@media screen and (min-width: 1200px) {
			@include f-reg(1.3rem);
		}

		&:last-of-type {
			@media screen and (min-width: 768px) {
				margin-top: 1rem;
			}
		}
	}
}