// FONTS
@mixin f-reg($fz) {
	font-family: 'regular', sans-serif;
	font-size: $fz;
	font-size: normal;
}
@mixin f-med($fz) {
	font-family: 'medium', sans-serif;
	font-size: $fz;
	font-weight: normal;
}


// BTN
@mixin btn($w, $h, $fz) {
	border: none;
	border-radius: 10rem;
	width: $w;
	height: $h;

	@include f-med($fz);
	background: linear-gradient(120deg, $wv-purple, $wv-blue);
	background-size: 150% 150%;
	color: $white;

	transition: all .5s;
	cursor: pointer;

	&:hover {
		transform: scale(1.05, 1.05) translate(.2rem, .2rem);
		background-position: 100% 10%;
	}
}